<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form action="/create" method="POST" enctype="multipart/form-data">
        <label for="fileName">File Name:</label>
        <input type="text" id="fileName" name="fileName" required><br><br>
        <label for="fileContent">Choose File:</label>
        <input type="file" id="fileContent" name="fileContent" required><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>